{% extends 'base.html' %}
{% load static %}


{% block head_content %}

    <title>Listado</title>
{% endblock head_content %}

{% block container %}
<div class="container-fluid px-4">   
    
    
    
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  <div class="heading1 margin_0">
                     <h2>Obtener datos</h2>
                     <form style="margin-top:2em;" method="post" role="form" action="{% url 'listado-interbase' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" name="numerodocumento" placeholder="Numero de documento">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" name="apellido"  placeholder="Apellido">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control" name="nombres"  placeholder="Nombre">
                          </div>
                          <input type="submit" value="Filtrar" class="btn btn-default"/>
                        </div>
                        
                      </form>
                  </div>
               </div>
               <div class="table_section padding_infor_info">
                  <div class="table-responsive-sm">
                     
                     <table id="datatablesSimple">
                        <thead>
                           <tr>
                              <th>Numero de documento</th>
                              <th>Nombre y apellido</th>
                              <th>Accion</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for data in datos_renaper  %}
                           <tr>
                              <td>{{data.numerodocumento}}</td>
                              <td>{{data.apellido}} {{data.nombres}}</td>
                              <td>
                                 <a href="{% url 'detalle-interbase' data.id %}">
                                    <div class="button_block"><button type="button" class="btn cur-p btn-info">Ver detalle</button></div>
                                 </a>
                                 
                              </td>
                           </tr>
                           
                           {% endfor %}
                          
                        </tbody>
                      </table>
                    
                  </div>
               </div>
            </div>
         </div>
    </div>
</div>

{% endblock container %}