{% extends 'base.html' %}
{% load static %}


{% block head_content %}

    <title>Listado</title>
{% endblock head_content %}

{% block container %}
 <!-- dashboard inner -->
 <div class="midde_cont">
    <div class="container-fluid">
       <div class="row column_title">
          <div class="col-md-12">
             <div class="page_title">
                <h2>Panel</h2>
             </div>
          </div>
       </div>
       <div class="row column1">
          <div class="col-md-6 col-lg-3">
             <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                   
                </div>
                <div class="counter_no">
                   <div>
                      <p class="total_no">344572</p>
                      <p class="head_couter">Total de registros</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-6 col-lg-3">
             <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                  
                </div>
                <div class="counter_no">
                   <div>
                      <p class="total_no">{{total_femenino}}</p>
                      <p class="head_couter">Sexo: Femenino (total)</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-6 col-lg-3">
             <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                   
                </div>
                <div class="counter_no">
                   <div>
                      <p class="total_no">{{total_masculino}}</p>
                      <p class="head_couter">Sexo: Masculino (total)</p>
                   </div>
                </div>
             </div>
          </div>
            <div class="col-md-6 col-lg-3">
             <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                   
                </div>
                <div class="counter_no">
                   <div>
                      <p class="total_no">316174</p>
                      <p class="head_couter">Total de direcciones actualizadas</p>
                   </div>
                </div>
             </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="full counter_section margin_bottom_30">
                  <div class="couter_icon">
                     
                  </div>
                  <div class="counter_no">
                     <div>
                        <p class="total_no">{{total_lat_long}}</p>
                        <p class="head_couter">Total latitudes y longitudes</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="full counter_section margin_bottom_30">
         
                  <div class="counter_no">
                     <div>
                        <p class="total_no">127617</p>
                        <p class="head_couter">Total afiliados registrados</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="full counter_section margin_bottom_30">
                  
                  <div class="counter_no">
                     <div>
                        <p class="total_no">239312</p>
                        <p class="head_couter">Total coincidencias con permisos generados</p>
                     </div>
                  </div>
               </div>
            </div>
       </div>
       
       <!-- graph -->
       <div class="row column2 graph margin_bottom_30">
          <div class="col-md-l2 col-lg-12">
             <div class="white_shd full">
                <div class="full graph_head">
                   <div class="heading1 margin_0">
                      <h2>Circuitos y cantidad de personas registradas</h2>
                   </div>
                </div>
                <div class="full graph_revenue">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="content">
                            <div class="area_chart">
                               <canvas height="120" id="bar_chart"></canvas>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end graph -->
       
          
    </div>

 <script>
   function obtenerDatosCircuito(){
      let circuito = [];
      let numero = [];
      {% for circuitos, total in circuitos_dict.items %}
         {% if circuitos != 'None' and total != 0 %}
         
            circuito.push({{ circuitos }})
            numero.push({{total}})
         {% endif %}
      {% endfor %}
   
      return [circuito, numero];
   }

      
    
    
   
   obtenerDatosCircuito()
</script>
{% endblock container %}