{% extends 'base.html' %}
{% load filters %}
{% load static %}


{% block head_content %}

    <title>Ubicaciones</title>
{% endblock head_content %}

{% block container %}


    <div class="container-fluid px-4" style="margin-top: -3em; " >
      <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
          <div class="midde_cont">
            <div class="container-fluid"  style="padding-bottom: 1em; padding-top: 1em">
              
              <select  class="form-select" id="selectDni">
                <option value="0">Buscar por DNI</option>
                {% for renaper in ubicacion%}
                  <option value='{{renaper.id}}'>
                      {{renaper.numerodocumento}}
                  </option>
                {% endfor %}
              </select>
              <select style="display: flex;" id="type" class="form-select " >
                      <option value="None" selected>Dibujar</option>
                      <option value="None">Desactivado</option>
                      <option value="Circle">Activado</option>
                      
              </select>
              <button style="margin-right:3em; border: 1px solid #6e6d6d" type="button" class="btn btn-light" onclick=removeMap() >Limpiar Mapa</button>
            </div>
          </div>
        </div>
      </div>
    </div>   
  


<section>
  <div style="width:100%; height:100%; z-index:1" id="mapa" ></div>
</section>

<script>
  alert("Al buscar por DNI, esperar un segundo hasta que muestre los resultados")
  function obtenerCoordenadas(){
    return coordenadas = 
    [
      {% for renaper in ubicacion %}
        {
          'longitud':{{renaper.longitud | comas}}, 
          'latitud':{{renaper.latitud | comas}}, 
          'sexo':'{{renaper.sexo}}',
          
          'id': {{renaper.numerodocumento}},
          'id_detalle': {{renaper.id}}
        },
      {% endfor %}
    ]
    
  }
  
  

  function obtenerDatosPersona(){
    return datos_persona = 

    [
      {% for renaper in datos_persona %}
        {
          
          'idtramitetarjetareimpresa': {{renaper.idtramitetarjetareimpresa}},
          'idtramiteprincipal': {{renaper.idtramiteprincipal}},
          'vencimiento': {{renaper.vencimiento}},
          'emision': {{renaper.emision}},
          'apellido': {{renaper.apellido}},
          'nombres': {{renaper.nombres}},
          'fechanacimiento': {{renaper.fechanacimiento}},
          'cuil': {{renaper.cuil}},
          'calle': {{renaper.calle}},
          'numero': {{renaper.numero}},
          'piso': {{renaper.piso}},
          'departamento': {{renaper.departamento}},
          'cpostal': {{renaper.cpostal}},
          'barrio': {{renaper.barrio}},
          'monoblock': {{renaper.monoblock}},
          'ciudad': {{renaper.ciudad}},
          'municipio': {{renaper.municipio}},
          'provincia': {{renaper.provincia}},
          'pais': {{renaper.pais}},
          'mensaf': {{renaper.mensaf}},
          'origenf': {{renaper.origenf}},
          'fechaf': {{renaper.fechaf}},
          'foto': {{renaper.foto}},
          'idciudadano': {{renaper.idciudadano}},
          'email': {{renaper.email}},
          'telefono_movil': {{renaper.telefono_movil}},
          'telefono_fijo': {{renaper.telefono_fijo}},
          'ultima_direccion_actualizada': {{renaper.telefono_fijo}},
          'longitud':{{renaper.longitud | comas}}, 
          'latitud':{{renaper.latitud | comas}},
          'sexo':'{{renaper.sexo}}',
          'id': {{renaper.numerodocumento}}
        },
      {% endfor %}
    ]
    
   
  }

  obtenerCoordenadas()
  addInteraction();
 </script>
{% endblock container %}